
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <button type="button" class="add-todo">
            <span class="sr-only">Status</span>
            <span class="glyphicon glyphicon-unchecked"></span>
          </button>
        </div>
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">t.title
        </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">t.due_date
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <button type="button" class="add-todo">
            <span class="sr-only">Note</span>
            <span class="glyphicon glyphicon-comment"></span>
          </button>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <button type="button" class="add-todo">
            <span class="sr-only">Edit</span>
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <button type="button" class="add-todo">
            <span class="sr-only">Delete</span>
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
      </div>
    </div>
  </div>