@import 'bootstrap-sprockets';
@import 'bootstrap';
/*div.container {
  margin-left: 0;
  margin-right: 0;
}*/

#gly-btn{
  color: black;
}

#mission-content{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  font-size: large;
  padding-top: 15px;
  padding-bottom: 15px;
}

.mission-row {
  margin-bottom: 10px;
}
.row div{
  /*font-size: large;*/
}

@media (min-width: 768px){}
